Repository teampepe69/cryptomeme, pull requests merged in 2020-03, with the labels that each got.

#1 client folder structure
  client/src/Admin/components/Users.js
  client/src/Admin/pages/Admin.js
  client/src/Landing/components/ExchangeRate.js
  client/src/Landing/components/Feed.js
  client/src/Landing/components/Following.js
  client/src/Landing/components/Sidemenu.js
  client/src/Landing/pages/LandingPage.js
  client/src/Landing/pages/Subbar.js
  client/src/Moderator/components/Meme.js
  client/src/Moderator/components/Users.js
  client/src/Moderator/pages/Moderator.js
  client/src/Navbar/components/Banner.js
  client/src/Navbar/components/Login.js
  client/src/Navbar/components/Logout.js
  client/src/Navbar/components/Register.js
  client/src/Navbar/pages/Navbar.js
  client/src/Profile/components/UpdateProfile.js
  client/src/Profile/pages/Profile.js
Labels: frontend-react

#7 Implement Like Memes Feature
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/Navbar/components/Banner.js
  client/src/contracts/Address.json
  client/src/contracts/Context.json
  client/src/contracts/Counters.json
  client/src/contracts/ERC165.json
  client/src/contracts/ERC721.json
  client/src/contracts/IERC165.json
  client/src/contracts/IERC721.json
  client/src/contracts/IERC721Receiver.json
  client/src/contracts/Meme.json
  client/src/contracts/MemeketPlace.json
  client/src/contracts/Migrations.json
  client/src/contracts/SafeMath.json
  client/src/contracts/SimpleStorage.json
  client/src/contracts/User.json
  client/src/index.js
  contracts/Meme.sol
  contracts/Memeketplace.sol
  contracts/User.sol
  migrations/2_deploy_contracts.js
  test/Meme.js
  test/MemeketPlace.js
  test/TestSimpleStorage.sol
Labels: priority.high, severity.High, type.blockchain-smart-contract, type.feature, type.frontend

#8 Create Meme Feature
  client/src/App.js
  client/src/contracts/Address.json
  client/src/contracts/Context.json
  client/src/contracts/Counters.json
  client/src/contracts/ERC165.json
  client/src/contracts/ERC721.json
  client/src/contracts/IERC165.json
  client/src/contracts/IERC721.json
  client/src/contracts/IERC721Receiver.json
  client/src/contracts/Meme.json
  client/src/contracts/MemeketPlace.json
  client/src/contracts/Migrations.json
  client/src/contracts/SafeMath.json
  client/src/contracts/SimpleStorage.json
  client/src/contracts/User.json
  contracts/Meme.sol
  test/Meme.js
Labels: priority.high, type.blockchain-smart-contract, type.feature, type.frontend

#10 Modify memeketplace.sol
  client/src/contracts/Address.json
  client/src/contracts/Context.json
  client/src/contracts/Counters.json
  client/src/contracts/ERC165.json
  client/src/contracts/ERC721.json
  client/src/contracts/IERC165.json
  client/src/contracts/IERC721.json
  client/src/contracts/IERC721Receiver.json
  client/src/contracts/Meme.json
  client/src/contracts/MemeketPlace.json
  client/src/contracts/Migrations.json
  client/src/contracts/SafeMath.json
  client/src/contracts/SimpleStorage.json
  client/src/contracts/User.json
  contracts/Memeketplace.sol
  contracts/User.sol
Labels: priority.high, type.blockchain-smart-contract

#12 Modify User Contract
  contracts/Memeketplace.sol
  contracts/User.sol
Labels: priority.high, type.blockchain-smart-contract
